.gradle
.idea
.settings
bin
build
classes
run
config
latest-client-new.log
latest-client-reduced.log
latest-dummy.log
latest-server-reduced.log
latest-server.log
logs
options.txt
saves
usercache.json
usernamecache.json
testifeclipsemakescrap.log
